a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto';

}
p {
    font-family: 'Montserrat', sans-serif;
    color: #757575;
}


#title{
    color: #039be5;
}

header{
    display: flex;
}

.nav-left{
    margin-right: auto;
}
.nav-right{
    display: flex;
    padding-top: 2rem;
    margin-right: 2rem; 
}
h1, h2{
    color: black;
    font-family: 'Roboto';
}