    {% extends 'base.html' %}


    {% block content %}
    <div class="row ">
        {% for post in object_list %}
                
            <div class="col-md-4-sm-6-lg-6">
                            
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Author  {{post.author}} </h6>
                        <p class="card-text">{{post.body}}</p>
                         <a href="{% url 'post_detail' post.pk %}" class="card-link">Check post</a>
                    </div>
                </div>
            
            </div>
        {% endfor %}
    </div>    
    {% endblock content %}
        