{% extends 'base.html' %}


{% block content %}
    <div class="post-entry">
        <h2 id = "post-title"> {{ post.title }} </h2>
        <p> Author: {{post.author}} </p>
        <p style="font-size: 18px;" id = "content"> {{ post.body }} </p>
    </div>


    <button type="button" class="btn btn-secondary">
        <a href=" {% url 'post_edit' post.pk %} " style="color: white; text-decoration: none;"> Edit Blog Post </a>
    </button>
    
    
    <button type="button" class="btn btn-danger">
        <a href=" {% url 'post_delete' post.pk %}" style="color: white; text-decoration: none;"> Delete Blog Post </a>
    </button>
{% endblock content %}
   